.jumbotron{
    height: 100vh;
    background-image:url(https://images.pexels.com/photos/1647962/pexels-photo-1647962.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;

}

.navbar-expand-lg{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'lobster';
}